@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  border-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
  height: 100vh;
  position: relative;
  /* background-color: black */
}

#back {
  width: 100%;
  height: 100vh;
}

#back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#top {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* background-color: rgba(0, 0, 0, 0.607) */
}

#working-area {
  margin: 0 auto;
  width: 80%;
  height: 100vh;
  max-width: 1920px;
  /* border: 1px solid red; */
  position: relative;
}

/* Manin nav */
#nav {
  pointer-events: all;
  width: 100%;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav img,
i {
  height: 90px;
  filter: brightness(0) invert(1);
}

/* Sidebar for mobile */
#sidebar ul {
  width: 100%;
  list-style: none;
}

#sidebar li {
  width: 100%;
  height: 50%;
}

#sidebar a {
  width: 100%;
  padding: 0 30px;
  text-decoration: none;
  align-items: center;
  color: white;
}

#sidebar.active {
  display: flex;
  /* Additional styling for the active sidebar */
}

#sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.062);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10 rgb(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
}

.menu-batton {
  display: none;
}

/* Navber section */
#nleft,
#nright,
i {
  display: flex;
  align-items: center;
  gap: 50px;
}

#nleft,
#nright,
a {
  color: white;
}

#nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2vw;
  font-weight: 700;
}

/* Hero section */
#hero {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
}

#hero-left {
  width: 50%;
}

#hero-left .elem {
  position: relative;
  height: 6vw;
  overflow: hidden;
}

#hero-left .elem h1:nth-child(1) {
  top: 0;
}

#hero-left .elem h1 {
  position: absolute;
  top: 100%;
  left: 0;
  line-height: 0.9;
  font-family: "Rowdies", sans-serif;
  color: white;
  font-size: 5.6vw;
}

#hero-right {
  width: 25%;
  /* background-color: green */
}

/* About section */
#about {
  display: flex;
  margin: 0 auto;
  width: 80%;
  height: 100%;
  max-width: 1920px;
}

#about-left {
  height: 100%;
  width: 55%;
  padding: 8vw 8vw;
}

#about-left h1 {
  font-size: 4vw;
  line-height: 3.5vw;
}

#about-left p {
  font-size: 1.2vw;
  font-weight: 500;
  color: #666;
  width: 100%;
  margin-top: 1.3vw;
  margin-bottom: 2.5vw;
}

/* button */
#about-left .more-info {
  padding: 1vw 2vw;
  font-size: 0.9vw;
  background-color: black;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

#about-right {
  height: 100%;
  width: 45%;
  padding: 8vw 8vw;
}

#about-right img {
  height: 50%;
  width: 100%;
  border: 12px solid black;
}

#box-img {
  overflow: hidden;
}

#box-img img {
  transition: transform 0.5s ease-in-out;
}

#box-img:hover img {
  transform: scale(1.1);
  /* Adjust scale factor as needed */
}

.cropped-image {
  width: 100%;
  height: auto;
  display: block;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/* For small screens, reduce font sizes */
@media only screen and (max-width: 600px) {
  #about {
    width: 100%;
  }

  #about-left h1 {
    font-size: 1.5rem;
    margin-top: 5px;
  }

  #about-left {
    width: 90%;
    height: 25%;
  }

  #about-left p {
    font-size: 0.9rem;
    margin-top: 10px;
  }

  #about-left .more-info {
    font-size: 1.2rem;
    background-color: black;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    color: rgb(255, 255, 255);
  }

  #about-right{
    width: 85%;
    height: 25%;
  }
}

/* education section */
#education {
  display: flex;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  background-image: url(img/eduBg.jpg);
  background-size: cover;
  background-position: center;
}

#edu-left {
  height: 80%;
  width: 60%;
  padding: 8vw 8vw;
}

#edu-card {
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 8px black;
  height: 60%;
  width: 100%;
  border-radius: 10px;
  padding: 3vw 6vw;
  transition: transform 0.85s cubic-bezier(0.77, 0, 0.175, 1);
}

#edu-card:hover {
  transform: translateX(5px) translateY(-5px);
}

#edu-card h1 {
  font-size: 3vw;
}

#edu-card table {
  margin-top: 1.8vw;
  border-spacing: 1.7vw;
}

#edu-card table th {
  font-size: 1.8vw;
}

#edu-card table td {
  font-size: 1.3vw;
}

#edu-right {
  height: 80%;
  width: 40%;
  padding: 8vw 8vw;
}

/* protfilo */
#protfilo {
  width: 100%;
  height: 30%;
  max-width: 1920px;
  background-color: rgb(0, 0, 0);
}

#protfilo2 {
  width: 100%;
  height: 20%;
  max-width: 1920px;
  background-color: rgb(0, 0, 0);
}

#protfilo2 h2 {
  font-size: 2vw;
  padding-top: 2vw;
  padding-left: 9vw;
  margin-bottom: 1vw;
  ;
  color: rgb(255, 255, 255);
}

#protfilo2 hr {
  /* border-top: 3px solid black; */
  width: 20%;
  margin-left: 3vw;
}

#protfilo h1 {
  font-size: 4vw;
  padding-top: 2vw;
  padding-left: 9vw;
  color: rgb(255, 255, 255);
}

#protfilo h2 {
  font-size: 2vw;
  padding-top: 2vw;
  padding-left: 9vw;
  margin-bottom: 1vw;
  ;
  color: rgb(255, 255, 255);
  /* text-align: center; */
}

#protfilo hr {
  /* border-top: 3px solid black; */
  width: 20%;
  margin-left: 3vw;
}

#protfilo-mani {
  display: flex;
  justify-content: center;
  gap: 2.2vw;
  align-items: center;
  position: relative;
  z-index: 10;
  margin: 0 auto;
  width: 100%;
  height: 70%;
  max-width: 1920px;
  background-color: rgb(0, 0, 0);
}

#protfilo-mani2 {
  display: flex;
  justify-content: center;
  gap: 2.2vw;
  align-items: center;
  position: relative;
  z-index: 10;
  margin: 0 auto;
  width: 100%;
  height: 80%;
  max-width: 1920px;
  background-color: rgb(0, 0, 0);
}

.filo-card {
  height: 75%;
  width: 27%;
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transition: all ease 0.6s;
}

#prt-card1 {
  background-image: url(img/protfilo/uni-roon-analysis.png);
}

#prt-card2 {
  background-image: url(img/protfilo/urro.png);
}

#prt-card3 {
  background-image: url(img/protfilo/zantech.png);
}

/* protfilo 2 */
#prt2-card1 {
  background-image: url(img/protfilo/avash-canera.jpg);
}

#prt2-card2 {
  background-image: url(img/protfilo/feni-goverment-college.jpeg);
}

#prt2-card3 {
  background-image: url(img/protfilo/show.jpg);
}

/* protfilo 3 */
#prt3-card1 {
  background-image: url(img/protfilo/sqlviseo.png);
}

#prt3-card2 {
  background-image: url(img/protfilo/pythonvideo.png);
}

#prt3-card3 {
  background-image: url(img/protfilo/c++video.png);
}

.overlay {
  height: 100%;
  width: 100%;
  padding: 0.3vw;
  padding-top: 3vw;
  backdrop-filter: blur(50px);
  opacity: 0;
  transition: all ease 0.6s;
}

.overlay h4 {
  color: rgb(235, 224, 17);
  font-size: 2.8vw;
  text-transform: uppercase;
  margin-bottom: 1.5vw;
  text-align: center;
}

.overlay p {
  color: rgb(235, 224, 17);
  font-size: 1.2vw;
  margin-bottom: 1.5vw;
}

.card-button {
  font-size: 1.2vw;
  padding: 0.5vw;
  text-align: center;
  margin-left: 2vw;
  border-radius: 10px;
}

.card-button:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.card-button:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.filo-card:hover .overlay {
  opacity: 1;
}

/* Mobile */
@media (max-width: 600px) {
  #nav {
    padding: 3vw 1vw;
  }

  #nav-ab,
  #nav-ed,
  #nav-pf,
  #nav-ct,
  #nav-re {
    display: none;
  }

  .hidenOnMobile {
    display: none;
  }

  .menu-batton {
    display: block;
  }

  #sidebar {
    width: 100%;
  }

  #about {
    flex-direction: column;
  }

  #protfilo-mani {
    flex-direction: column;
  }

}