body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }

  .profile{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .profile img{
    width: 100px;
    height: 100px;
    margin-top: 20px;
    object-fit: cover;
  }
  .profile h1{
    font-size: 20px;
    color: white;
  }
  .social-media {
    display: flex;
    justify-content: center;
    margin: 5px;
  }
  
  .social-media a {
    margin: 0px; 
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 205px;
    background-color: #000000d8;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 16px;
    text-decoration: none;
  }
   
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }

  /* home  */
  .backround-img {
    position: relative;
    background-image: url('assets/img/nakib-cover.jpg');
    background-size: cover;
    background-position: center center;
    height: 100vh; /* Adjust the height as needed */
  }
  
  .backround-img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Black overlay with 0.5 opacity */
  }
  
  .text-animation {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-weight: 200;
    opacity: 0; /* Initially hide the text */
    animation: fadeInUp 1.5s forwards; /* Animation to fade in and move up */
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate(-50%, -40%);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }

  /* about  */
  
  /* Center the h1 heading */
  .about{
    padding-bottom: 500px;
  }
  .about h1 {
    text-align: center;
    padding-top: 40px;
    margin: 10px;
  }
  .grid-about{
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: 
    ". t t t t t t i i i i ."
    ;
  }
  .g-text{
    grid-area: t;
    font-size: 20px;
    margin: 30px;
  }
  .g-image{
    grid-area: i;
  }
  .about img{
    width: 570px;
  }
  .cropped-image {
    width: 100%;
    height: auto;
    display: block;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); /* Adjust the percentages to crop without moving the image */
  }
  
  /* education */
  .eduvation h1{
    text-align: center;
    padding-top: 40px;
    margin: 10px;
  }

  /* responsive */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}

    .profile {
      padding: 20px;
      justify-content: center; 
    }
  
    .profile img {
      width: 80px; 
      height: 80px; 
    }
  
    .social-media {
      margin-top: 10px; 
    }
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
    .profile h1 {
      font-size: 1.2em;
    }
  
    .social-media a {
      margin: 0 5px;
    }
  }