@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    border-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body {
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100vh;
    position: relative;
    /* background-color: black */
}
#back{
    width: 100%;
    height: 100vh;
}
#back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#top{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.607) */
}
#working-area{
    margin:0 auto;
    width: 80%;
    height: 100vh;
    max-width: 1920px;
    /* border: 1px solid red; */
    position: relative;
}

/* Manin nav */
#nav{
    pointer-events: all;
    width: 100%;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav img,i{
    height: 90px;
    filter: brightness(0) invert(1);
}

/* Sidebar for mobile */
#sidebar ul{
  width: 100%;
  list-style: none;
}
#sidebar li{
  width: 100%;
  height: 50%;
}
#sidebar a{
  width: 100%;
  padding: 0 30px;
  text-decoration: none;
  align-items: center;
  color: white;
}
#sidebar.active {
  display: flex;
  /* Additional styling for the active sidebar */
}
#sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.062);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0  10 rgb(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
}
.menu-batton{
  display: none;
}
/* Navber section */
#nleft, #nright,i{
    display: flex;
    align-items: center;
    gap: 50px;
}
#nleft,#nright,a{
  color: white;
}
#nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2vw;
    font-weight: 700;
}

/* Hero section */
#hero{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%,-50%);
}
#hero-left{
    width: 50%;
}
#hero-left .elem{
    position: relative;
    height: 6vw;
    overflow: hidden;
}
#hero-left .elem h1:nth-child(1){
    top: 0;
}
#hero-left .elem h1{
    position: absolute;
    top: 100%;
    left: 0;
    line-height: 0.9;
    font-family: 'Rowdies', sans-serif;
    color: white;
    font-size: 5.6vw;
}
#hero-right{
    width: 25%;
    /* background-color: green */
}


/* About section */
#about{
  display: flex;
  margin:0 auto;
  width: 80%;
  height: 100%;
  max-width: 1920px;
}
#about-left{
  height: 100%;
  width: 55%;
  padding: 8vw 8vw;
}
#about-left h1{
  font-size: 4vw;
  line-height: 3.5vw;
}
#about-left p{
  font-size: 1.2vw;
  font-weight: 500;
  color: #666;
  width: 100%;
  margin-top:1.3vw;
  margin-bottom:2.5vw;
}
#about-left .more-info{
  padding: 1vw 2vw;
  font-size: 0.9vw;
  background-color: black;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}


#about-right{
  height: 100%;
  width: 45%;
  padding: 8vw 8vw;
}
#about-right img{
  height: 50%;
  width: 100%;
  border: 12px solid black;
}
#box-img {
  overflow: hidden;
}
#box-img img {
  transition: transform 0.5s ease-in-out;
}
#box-img:hover img {
  transform: scale(1.1); /* Adjust scale factor as needed */
}
.cropped-image {
  width: 100%;
  height: auto;
  display: block;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}


@media (max-width: 600px) {
  #nav{
    padding: 3vw 1vw;
  }
  #nav-ab,#nav-ed,#nav-pf, #nav-ct,#nav-re{
    display: none;
  }
  .hidenOnMobile{
    display: none;
  }
  .menu-batton{
    display:block;
  }
  #sidebar{
    width: 100%;
  }
}